<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.css')}}>
        <script src={{ url_for('static', filename='js/jquery.js')}}></script>
        <script src={{ url_for('static', filename='js/bootstrap.min.js')}}></script>
        <script src={{ url_for('static', filename='js/typeahead.bundle.js')}}></script>
    </head>
    <body>

        <div class="container">
            <div class="page-header jumbotron">
                <h1>Simple <small>Dictionary</small></h1>
            </div>
            <div id="inputword" >
                <input class="typeahead" id='inputed' type="text"  placeholder="Search Words">
                <link rel="stylesheet" href={{ url_for('static', filename='css/typ.css')}}>
                <!-- 
                    <button id = "searchbtn" class="btn btn-lg  btn-primary">Search</button>
                -->
            </div>
            <br />
            <div id = 'wordinfo' class='panel panel-success'> </div>
        </div>
        <script src={{ url_for('static', filename='js/index.js')}}></script>
        <script src={{ url_for('static', filename='js/search.js')}}></script>

    </body> 
</html>

