<h1 id = 'word_en'>{{w}}</h1>
{%for m in meaning%}
<span class = 'label label-info'>{{m['part_of_speech']}} {{m['explanation']}}</span>
<h1> </h1>
{%endfor%}

<div class = "container">
    
    {%for s in examples%}
    <h3>"{{s['sentence']}}"</h3>
    <h4>{{s['translation']}}</h4>
    <div id='edit_{{loop.index}}'></div>
    <button id='edit_btn_{{loop.index}}'class="btn btn-sm edit_btn">Edit</button>
    <button id='done_btn_{{loop.index}}'class="btn btn-sm done_btn">Modify</button>
    
    {%endfor%}
</div>
<script src={{ url_for('static', filename='js/modify.js')}}></script>
